body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 80px;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-container{
  margin: auto;
  padding: 20px;
}

.header {
  background-color: #E9BF27;
  display: flex;
  height: 120px;
  padding: 0px;
  margin: 0px;
}

.brand{
  width: inherit;
  height: 100px;
  margin: 10px;
}

.text-header {
  color: #47525E;
  font-size: 25px;
  align-self: center;
}

.logout{
  color: #000000;
  font-size: 20px;
  text-align: center;
  align-self: center;
}

.logout:active{
  border-radius: 0%;
}

.footer {
  background-color: #E9BF27;
  width: 100%;
  position: absolute;
  height: 100px;  
  bottom: 0;
}

.card {
  border: 2px solid #000000;
  border-radius: 1rem;
  width: 600px;
  height: 650px;
  margin: auto;
  margin-top: 30px;
}

.sub-card {
  background-color: #5A6978;
  width: 260px;
  height: 180px;
  margin: 20px;
  text-decoration: none;
}

.sub-card:hover{
  background-color: #0F5C86;
}

.sub-card-groups-name {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 31px;
  line-height: 40px;
  text-align: left;
  margin: 10px;
  padding-bottom: 30%;
}

.sub-card-groups-quantity {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
  margin: 10px;
}

.title{
  color: #47525E;
  font-size: 60px;
  line-height: 50px;
  width: 400px;
  text-align: center;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 50px;
}
.sub-title {
  color: #47525E;
  font-size: 30px;
  line-height: 34px;
  width: 524px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.title-home{
  color: #47525E;
  margin: 10px;
  font-size: 50px;
}

.sub-title-home{
  color: #47525E;
  margin: 10px;
  font-size: 30px;
}

.inputs{
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 95%;
  height: 70px;
  margin: auto;
  color: #8190A5;
  font-size: 24px;
  text-align: left;
}

.form{
  margin-top: 30px;
  margin: auto;
  text-align: center;
}

.button{
  background-color: #0F5C86;
  border-radius: 5px;
  width: 211px;
  height: 55px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}

.button:hover{
  background-color: #47525E;
}

.button:active{
  background-color: #FFFFFF;
}

.text-login {
  color: #1585FD;
  font-size: 25px;
  text-decoration: none;
  margin-top: 3rem;
  padding: 1rem;
}

.partial-card{
  background-color: #0F5C86;
  width: 372px;
  height: 98px;
  margin: 20px;
  text-decoration: none;
}

.partial-card-groups-name {
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
  
}

.partial-card:hover{
  background-color: #47525E;
}

.popover-container{
  text-align: center;
}

.icons{
  font-size: 40px;
  text-align: center;
  vertical-align:text-bottom;
}